@import '_vars';

body{
    width:100%;
    background-color: $bg_color;
}
#app

{
    margin:0 auto;  
}


#mainHeader
{
    background: #000000 url(/images/torontoSkyline.png)  no-repeat;
    opacity: 0.7;
    width:100%;
    height:1223px;
}

.Logo
{
    width:680px;
    height:160px;
    margin-left:30px;
    margin-top:41px;
}
#main_logo
{
    width:680px;
    height:180px;
}
.mainNav
{
  width: 1098px;
  height: 40px;
  position:relative;
margin-left:784px;
margin-top:-80px;
}

.mainNav ul
{
  list-style-type: none;
  padding: 0;
}

.mainNav ul li {  
  font-size: 64px;
  display: inline;
  cursor: pointer;
  margin-left: 25px;
}

.mainNav ul li a
{
  color:  #00296c;
  padding: 5px;
  text-decoration:none;
  font-family: Din Condensed, arial, sans-serif;
  font-size: 48px;
}

.mainNav ul li a:hover {
  padding: 5px;
  background-color: #000000;
}

#theWelcome{
    font-family: $font_family;
    margin-top:760px;
    margin-left:260px;
    color:white;
    font-size:150px;
    text-shadow: #000 2px 0 15px;
}

#tagline
{
    Font-family: Raleway, sans-serif;
    position:relative;
    margin-top:-90px;
    margin-left: 780px;
    color:white;
    font-size:40px;
    font-weight:200;
}

#placesToVisit
{
    display:flex;
    flex-direction:column;
}

.lakeImage{

    width:1444px;
    height:962px;
    margin-top:100px;
    margin-left: 240px; 
    
}

#textDiv1
{
    background-color:white;
    color:#000;
    width:1258px;
    height:654px;
    margin-left:341px;
    margin-top:-300px;
    text-align:center;
}

.sectionHead
{
    font-family:$font_family;
    font-size:64px;
    font-weight:50px;
}


.dropCap
{
    font-size:64px;
    font-weight:50px;
}

.sectionP
{
    font-family:$font_family;
    font-size:40px;
}


button {
    display: inline-block;
    width:493px;
    height:99px;
    border: 6px ;
    border-style: solid;
    border-color:$buttons_color;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    
    color: $buttons_color;
    font-family: sans-serif;
    font-size: 30px;
    font-weight:20px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#thingstoDo
{
    display:flex;
    flex-direction:row;
}
.wineGirlsImage
{
  margin-left:230px;
  margin-top:150px;
}

#textDiv2
{
    width:775px;
    height:650px;
    text-align:center;
    background-color: white;
    margin-top: 340px;
    margin-left:-280px;

}
#Events
{
    display:flex;
    flex-direction:column;
}
#textDiv3
{
    width:775px;
    height:650px;
    text-align:center;
    background-color: white;
    margin-top: -830px;
    margin-left:160px;

 
}
.fireworksImage{
    width:910px;
    height:993px;
    margin-left:839px;
  margin-top:150px;
}

#bookAVisit
{
    display:flex;
    flex-direction:column;
    width: 100%;
    height:1020px;
    background-color:#464646;
    margin-top:300px;
    text-align: center;
}

#bookSectionHeader
{
    font-family:$font-family;
    font-size:110px;
    margin-top:-5px;
    color:white;

}
.externalLinks
{
    width:595px;
    height:278px;
    margin-left:40px;
}
.externalLinks1
{
    width:595px;
    height:278px;
    margin-left:660px;
    margin-top: -290px;
}
.externalLinks2
{
    width:580px;
    height:250px;
    margin-left:1270px;
    margin-top:-260px;
}
.externalLinks3
{
    width:580px;
    height:260px;
    margin-left:350px;
    margin-top:180px;
}
.externalLinks4
{
    width:595px;
    height:278px;
    margin-left:1000px;
    margin-top:-280px;
}

#contactPanel{
    width:100%;
    height:600px;
    text-align:center;
    color:white;
}

form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left:720px;
    margin-top:100px;
    width:400px;
   
   
}



label{
    margin-bottom: 10px;
    font-family:$font_family;
    font-size:30px;
}

input{
    margin-bottom:20px;
    border: 10px;
    border-color: white;
    text-align: center;
    height:35px;
    width:500px;
}

textarea{
    border: 10px solid white;
    text-align: center;
    height:100px;
    width:500px;
}
#contactButton
{
    margin-top:40px;
}

//footer
#mainFooter
{
    width:100%;
    height:300px;
    position:relative;
    background-color:#acacac;
    margin-top:150px;


}
  
#footerText
{
    font-family:$font-family;
    font-size: 30px;
    font-weight:100px;
    color:grey;
    letter-spacing:5px;
    text-align:bottom;
    position:absolute;
    bottom:0;
    
    
}